*{
    margin: auto;
    padding: 0;
    max-width: 1024px;
    font-family: "Outfit", serif;
}
body{
    background-color: hsl(212, 85%, 92%);
    font-family: "Outfit", serif;
    margin: auto;
    max-width: 1024px;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 100px;
}
h2{
    font-weight: 700;
    font-size: 16px;
    text-align: center;
    padding-bottom:10px ;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: hsl(217, 55%, 28%);
}
h3{
    font-weight: 400;
    font-size: 11px;
    text-align: center;
    margin-top: 0px;
    margin-left: 23px;
    margin-right: 23px;
    color: hsl(217, 55%, 28%);
}
img{
    width: 200px;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 17px;
}
.conteiner{
    background-color: hsl(0, 0%, 100%);
    width: 223px;
    height: 340px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}